//- COMPONENTS

//- logotype
mixin logo ( name, alt, width, height)
  if currentPage !== 'Главная'
    a(href='index.html').__logo
      img(src=`img/${name}.svg` alt=`${alt}` width=width height=height).__img
  else
    .`${className}`__logo
      img(src=`img/${name}.svg` alt=`${alt}` width=width height=height).__img

//-main-nav
mixin mainNav
  nav.main-nav
    ul.__list
      each link, title in nav.mainNav
        case currentPage
          when !title
          when 'Главная'
            li.__item
              a(href= link).__link= title
          default
            li.__item.__item--current
              a(href= link).__link= title

//- social networks
mixin socialLinks(names)
  ul.social
    each name, network in social.networks
      li.__item
        a.__link(href=network.url, aria-label=network.title)
          img(src='http://placehold.it/25x25' alt=network.title width=network.width height=network.height).__icon
          //- svg.__icon(width='26px', height='15px', aria-labelledby='Мы во Вконтакте')
          //-   title#title__vk Мы во Вконтакте
          //-     use(xlink:href='#vk-icon')

//- mixin nav (className, name, items)
//-   nav(class=`${className}`)
//-     ul(class=`${className}__list`)
//-       each item in items
//-         li(class=`${className}__item`)
//-           a(class=`${className}__link`, href='#')= item

