//- COMPONENTS

//- logotype
mixin logo(className, name, alt, width, height)
  if currentPage !== 'Главная'
    a(href='index.html' class=`${className}__logo`)
      img(src=`img/${name}.svg` alt=`${alt}` width=width height=height class=`${className}__img`)
  else
    div(class=`${className}__logo`)
      img(src=`img/${name}.svg` alt=`${alt}` width=width height=height class=`${className}__img`)

//-main-nav
mixin mainNav
  nav.main-nav
    ul.__list
      each link, title in mainNav
        case currentPage
          when !title
          when 'Главная'
            li.__item
              a(href= link).__link= title
          default
            li.__item.__item--current
              a(href= link).__link= title
// social networks
mixin socialLinks
  ul.social
    each network, value in networks
      li.__item
        a.__link(href=network.url, aria-label=network.title)
          img(src='http://placehold.it/25x25', alt=network.title, width=network.width, height=network.height).__icon
            //- svg.__icon(width='26px', height='15px', aria-labelledby='Мы во Вконтакте'
            //-   title#title__vk Мы во Вконтакте
            //-     use(xlink:href='#vk-icon')

// slideshow/gallery/advertising/advertisement/adv/commercial/promo/slider/carousel
mixin promoBlock(className)
  section(class=`${className}`)
    div(class=`${className}__wrap`)
      h2.visually-hidden Заголовок что это
        ul(class=`${className}__list`)
          each ad, value in ads
            li(class=`${className}__item`)
              p(class=`${className}__caption`)= ad.caption
              p(class=`${className}__desc`)= ad.description
              a.btn(class=`${className}__btn`,href=ad.url)= ad.captionBtn
                img(class=`${className}__img` src=`img/${ad.imgSrc}.jpg`, alt=ad.imgAlt)
        div(class=`${className}__toggles`)
          button(class=`${className}__toggle ${className}__toggle--checked` type='button', aria-label='Первый слайд')
          button(class=`${className}__toggle` type='button', aria-label='Второй слайд')
          button(class=`${className}__toggle` type='button', aria-label='Третий слайд')
        div(class=`${className}__arrows`)
          button(class=`${className}__arrow ${className}__arrow--prev` type='button', aria-label='Предыдущий слайд')
          button(class=`${className}__arrow ${className}__arrow--next` type='button', aria-label='Следующий слайд')

// features/benefits/advantages/services
mixin featuresList(className)
  section(class=`${className}`)
    div(class=`${className}__wrap`)
      h2.visually-hidden Направления деятельности компании, услуги и прочее
        ul(class=`${className}__list`)
          each picture, value in pictures
            li(class=`${className}__item`)
              picture
                source(type='image/webp', srcset=`img/${picture.src}.webp`)
                img(class=`${className}__img`, src=`img/${picture.src}.png`, alt=picture.caption)
              p(class=`${className}__caption`)= picture.caption
              p(class=`${className}__notice`)= picture.annotation
              a(href="#", class=`${className}__link` aria-label=picture.caption)


// brands/parthers/customers/technologies
mixin logoList(className)
  section(class=`${className}`)
    div(class=`${className}__wrap`)
      h2.visually-hidden Используемые технологии в проекте
        ul(class=`${className}__list`)
          each logo, value in logos
            li(class=`${className}__item`)
              a(href=logo.url, class=`${className}__link` aria-label=logo.label)
              picture
                source(type='image/webp', srcset=`img/${logo.imgSrc}.webp`)
                img(class=`${className}__img`, src=`img/${logo.imgSrc}.png`, alt=logo.label)

//- mixin nav (className, name, items)
//-   nav(class=`${className}`)
//-     ul(class=`${className}__list`)
//-       each item in items
//-         li(class=`${className}__item`)
//-           a(class=`${className}__link`, href='#')= item

